@model IEnumerable<Cars.Models.Car>

@{
    ViewBag.Title = "CarsList";
}
@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
@*@Scripts.Render("~/bundles/jqueryui")*@
<script>

    //$(document).ready(function () {
    //    $("#date").datepicker();
    //});
</script>
<script>
    $(".input-daterange input").each(function () {
        $(this).datepicker("clearDates");
    });
</script>
<script>
    function a(carNumber,Id) {
        if (localStorage.interests == null) {
            localStorage.interests = carNumber;
        }
        else {
            localStorage.interests += "," + carNumber;
        }
        var start = document.getElementById("txtStartDate").value;
        var end = document.getElementById("txtEndDate").value;
        var x = new XMLHttpRequest();
        x.open("get", "/cars/Details?id=" + Id + "&startDate="+start+"&endDate="+end);
        x.send();
    }
</script>
<h2>CarsList</h2>
    Start Date:
from:<input type="date"id="txtStartDate" value="" />
to:<input type="date" id="txtEndDate" value="" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarType.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarType.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometer)
            </td>
            <td >
                <a onclick="a(@item.CarNumber,@item.ID)">Continue</a>
            </td>
                @*@Html.ActionLink("Continue", "Details", new { id = item.ID })*@
        </tr>
    }

</table>