@model IEnumerable<Cars.Models.CarType>

@{
    ViewBag.Title = "CarsList";
}

<style>
    .glyphicon {
        margin-right: 5px;
    }

    .thumbnail {
        margin-bottom: 20px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .item.list-group-item {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
    }

        .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
            background: #428bca;
        }

        .item.list-group-item .list-group-image {
            margin-right: 10px;
        }

        .item.list-group-item .thumbnail {
            margin-bottom: 0px;
        }

        .item.list-group-item .caption {
            padding: 9px 9px 0px 9px;
        }

        .item.list-group-item:nth-of-type(odd) {
            background: #eeeeee;
        }

        .item.list-group-item:before, .item.list-group-item:after {
            display: table;
            content: " ";
        }

        .item.list-group-item img {
            float: left;
        }

        .item.list-group-item:after {
            clear: both;
        }

    .list-group-item-text {
        margin: 0 0 11px;
    }

    /*a.a-btn {
        display: block;
        width: 100px;
        height:30px;
        align-content:center;
        background-color:lightgrey
    }*/
</style>

<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script>
    function a(carNumber, Id) {
        var items = localStorage.interests;
        if (localStorage.interests == null) {
            localStorage.interests = carNumber;
        }
        else if (!items.includes(carNumber)) {
            localStorage.interests += "," + carNumber;
        }
    }
    function validate() {
        var start = document.getElementById("startDate").value;
        var end = document.getElementById("endDate").value;
        if (start == "" && end == "") {
            alert("Dates must be filled");
            return false;
        }
        else if (start == "") {
            alert("Start date must be filled");
            return false;
        }
        else if (end == "") {
            alert("End date must be filled");
            return false;
        }
        $.post('InitStartDate', { startDate: start });
        $.post('InitEndDate', { endDate: end });
    }
</script>

<script>
    $(document).ready(function () {
        $('#datepicker').datepicker({
            startDate: "today",
            format: "dd MM yyyy",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true
        });
        $('#list').click(function (event) {
            event.preventDefault();
            $('#products .item').addClass('list-group-item');
        });
        $('#grid').click(function (event) {
            event.preventDefault();
            $('#products .item').removeClass('list-group-item');
            $('#products .item').addClass('grid-group-item');
        });

    });

</script>


<div class="container">
    <div class="well well-sm">
        <strong>Cars</strong><br />
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>


    <div class="input-daterange input-group" id="datepicker">
        <span class="input-group-addon">from</span>
        <input type="text" class="input-sm form-control"
               name="startDate" id="startDate" placeholder="Start Date" />
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control"
               name="endDate" id="endDate" placeholder="End Date" />
    </div>
    <br />
    @*@using (Html.BeginForm())
        {
            <p>
                Free text: @Html.TextBox("filter")
                <input type="submit" value="Search" />

            </p>
        }*@
    <table style="width: 100%; margin-left: auto; margin-right: auto;">
        <tbody>
            <tr>
                <td>
                    <div style='width:70%; margin-left:0%'>
                        <select class="form-control" id="slctGear">
                            <option selected="selected" value="">Gear</option>
                            <option value="0">MANUAL</option>
                            <option value="1">AUTOMATIC</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div style='width:70%; margin-left:0%'>
                        <select class="form-control" id="slctYear">
                            <option selected="selected" value="">Year</option>
                            @foreach (var item in ViewBag.years)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </td>
                <td>
                    <div style='width:70%; margin-left:0%'>
                        <select class="form-control" id="slctMani">
                            <option selected="selected" value="">Manifacturer</option>
                            @foreach (var item in ViewBag.mani)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </td>
                <td>
                    <div style='width:70%; margin-left:0%'>
                        <select class="form-control" id="slctModel">
                            <option selected="selected" value="">Model</option>
                            @foreach (var item in ViewBag.model)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </td>
                <td style="width:120px">
                    <div style='width:70%; margin-left:0%'>
                        <a href="CarsList">
                            <input type="button" class="btn btn-group-justified" name="name" value="search" onclick="a()" />
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table style="width: 40%; margin-left: 0%; margin-top: 15px;">
        <tbody>
            <tr>
                <td>
                    <div style='width:100%; margin-left:0%'>
                        <input type="text" class="form-control" id="txtSearch" name="txtSearch" placeholder="Free text" value="" />
                    </div>
                </td>
                <td>
                    <div style='width:100%; margin-left:0%'>
                        <a href="CarsList">
                            <input type="button" class="btn btn-group-justified" name="name" value="search" onclick="b()" />
                        </a>                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <br />
    <div id="products" class="row list-group">
        @foreach (var item in Model)
            {
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img style="max-height:150px;" class="group list-group-image" src=@item.picture alt="@item.ModelName picture" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            @item.ManifacturerName @item.ModelName
                        </h4>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    $@item.DailyPrice per day
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                @Html.ActionLink("Continue", "Details", new { id = item.CarTypeID },
                               htmlAttributes: new { @class = "btn btn-success", @onclick = "return validate()" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (ViewBag.current == 1)
            {
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/cars/carslist?skip=@(ViewBag.current-1)">Previous</a>
                </li>
            }
            @for (int i = 1; i < ViewBag.pages + 1; i++)
            {
                if (i == ViewBag.current)
                {
                    <li class="page-item active">
                        <span class="page-link">
                            @i
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/cars/carslist?skip=@i">@i</a></li>
                }

            }
            @if (ViewBag.current == ViewBag.pages)
            {
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/cars/carslist?skip=@(ViewBag.current+1)">Next</a>
                </li>
            }
        </ul>
    </nav>

</div>




@*<h2>CarsList</h2>
        Start Date:
        from:<input type="date" id="txtStartDate" value="" />
        to:<input type="date" id="txtEndDate" value="" />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarType.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometer)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarType.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.StoreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kilometer)
                </td>
                <td onclick="a(@item.CarNumber)">
                    @Html.ActionLink("Continue", "Details", new { id = item.ID }, htmlAttributes: new { @onclick = "return validate()" })
                </td>
            </tr>
        }

    </table>*@
