@model Cars.Models.CarInfo

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>
    <div >
        <h4>Car</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt >
                @Html.DisplayNameFor(model => model.HireDateStart)
            </dt>
            <dd id="start">
                @Html.DisplayFor(model => model.HireDateStart)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HireDateEnd)
            </dt>
            <dd id="end">
                @Html.DisplayFor(model => model.HireDateEnd)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Car.CarType.ModelName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Car.CarType.ModelName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Car.Store.StoreName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Car.Store.StoreName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Car.Kilometer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Car.Kilometer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CarType.DailyPrice)
            </dt>

            <dd id="price">
                @Html.DisplayFor(model => model.CarType.DailyPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CarType.LateDayPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CarType.LateDayPrice)
            </dd>

            <dt>
                Total price
            </dt>

            <dd id="calc" >
                
            </dd>

        </dl>
    </div>
<script>
    function a() {
        var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds

        var start = $("#start").text(); 
        var splitStart = start.split("/");
        var firstDate = new Date(splitStart);

        var end = $("#end").text(); 
        var splitEnd = end.split("/");
        var secondDate = new Date(splitEnd);

        var diffDays = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneDay)));
        var price = $("#price").text();
        var y = diffDays * price;
        document.getElementById("calc").innerHTML = y;
    }
    a();
</script>
<p>
    @Html.ActionLink("Back to List", "CarsList")
    @Html.ActionLink("Continue", "Purchase", new { id = Model.Car.ID } )
</p>
